<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout/header :: bootstrap"></th:block>
    <th:block th:include="layout/header :: nav"></th:block>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&amp;v=3&amp;libraries=geometry"></script>
    <link href="../static/css/bootstrap.min.css" />
    <title>My Current Location</title>

    <style>
        /* style for the maps*/
        #map {
            height: 90%;
        }

        html, .mapBody {
            height: 90%; margin: 5px;
        }
    </style>

<div class="weather" align="center">
    <button class="weather" type="button" onclick="document.getElementById('weather')" id="weather">Click to View Current Weather</button>
    <p class="weather_details"></p>
</div>
    <script>
        /*-- using weather api to display current weather in huddersfield*/
        /* using javascript on click function, only load temperature if button is clicked */
        $('#weather').click(function(e){
            $.ajax({
                url : "http://api.wunderground.com/api/ba9d42b25e54365a/geolookup/conditions/q/GB/Huddersfield.json",
                dataType : "jsonp",
                success : function(parsed_json) {
                    var location = parsed_json['location']['city'];
                    /* check loacation based on url */
                    var temp_c = parsed_json['current_observation']['temp_c'];
                    /* check temperature in degrees, instead of fahrenheits as default */
                    $('.weather_details').text("Current Temperature In " + location + " Is: " + temp_c + "  Degrees");
                }
            });
        });
    </script>

</head>

<body class="mapBody">

<div id="map"></div>
<br></br>
<div id="journey" align="center"></div>

<script>

    var map, infoWindow;  <!-- new google maps variable -->
//
    function initMap() {  // initialise maps
        map = new google.maps.Map(document.getElementById('map'),
        latlngbounds = new google.maps.LatLngBounds(),
        distance = document.getElementById("journey"),
        {
//            center: {lat: -34.397, lng: 150.644},
//            zoom: 10 // zoom in size for current location
        });
        infoWindow = new google.maps.InfoWindow;

        // HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {  // get current location on latitude and longitude
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

//                infoWindow.setPosition(pos);
//                infoWindow.setContent('My Current Location'); // set and pin point location with label
                infoWindow.open(map);
                map.setCenter(pos);  // center current location
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter()); // show maps
            });
        } else {
            handleLocationError(false, infoWindow, map.getCenter()); // broswer does not support geolocation
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }

    function currentLocation() // current location method
    {
        function showLocation(position)
        {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            console.log('latitude: '+latitude);
            console.log('longitude: '+longitude);
            var userLatLng = new google.maps.LatLng({lat: latitude, lng: longitude});
            showMap(userLatLng);
            addMarker(userLatLng,"Current Location");

            var latLng = new google.maps.LatLng({lat: 53.645711, lng: -1.778700});
            addMarker(latLng,"Love Anime");

            var distance = google.maps.geometry.spherical.computeDistanceBetween(userLatLng,latLng);
            document.getElementById("journey").innerHTML =(distance+" Metres Away From Love Anime Office");

        }

        function errorLocation(error)
        {
            console.log('There is an error '+error);
        }
        navigator.geolocation.getCurrentPosition(showLocation, errorLocation);
    }

    function init(){
        currentLocation()
    }

    window.addEventListener("load",init,false);

    function showMap(latLng){
        map = new google.maps.Map(document.getElementById('map'),
            {
                center: latLng,
                mapTypeId: google.maps.MapTypeId.MAP,
                zoom: 12,
                zoomControl: true,
                streetViewControl: true,
                streetViewControlOptions: {
                    position: google.maps.ControlPosition.LEFT_TOP
                },
                fullscreenControl: true
            });
    }

    function addMarker(latLng, label){
        var marker = new google.maps.Marker({
            position: latLng,
            map: map,
            label:label
        });
        latlngbounds.extend(latLng);
        map.setCenter(latlngbounds.getCenter());
        map.fitBounds(latlngbounds);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH6u6sjlhNPgX-9QBeNveNftU-u39E42o&amp;callback=initMap"></script>

<!-- in the script for google maps, the & symbol must add 'amp;' for thyme leaf access -->

</body>

</html>