<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout/header :: bootstrap"></th:block>
    <th:block th:include="layout/header :: header"></th:block>
    <link href="../static/css/bootstrap.min.css" />
</head>
<body>

<h1 align="center">User Login</h1>

<!--<div th:if="${message!=null}">-->
    <!--<span th:text="${message}"></span>-->
<!--</div>-->

<div th:align="center" th:if="${type != null}" th:include="layout/alert :: alert (type=${type}, message=${message})"/>

<form th:align="center" action="#" th:action="@{/user/login}" th:object="${User}" method="post">
    <p>Email: </p>
    <input type="text" th:field="*{email}"/>
    <p>Password: </p>
    <input type="password" th:field="*{password}"/>

    <p/><input type="submit" value="Login"/>
</form>

</body>
</html>