<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout/header :: bootstrap"></th:block>
    <th:block th:include="layout/header :: nav"></th:block>
</head>

<body>

<h1 align="center">Search Anime</h1>
<div th:if="${message!=null}">
    <span th:align="center" th:text="${message}"></span>
</div>

<form th:align="center" th:action="@{/anime/search}" th:object="${search}" method="post">
    <input placeholder="Enter Keyword" type="text" th:field="*{animeName}" required="required"/>
    <input type="submit" value="search"/>
</form>

<p></p>

<div class="form-group col-md-6 col-md-offset-3">
    <ol class="list-group">
        <li class="list-group-item" th:align="center" th:each="anime : ${anime}">
            <a href="#" th:href="@{/anime/update/}+${anime.id}" th:text="${anime.animeName}"></a>
        </li>
    </ol>
    <span class="col-md-offset-5" th:text="${count}"></span><span>:results bas been found</span>
</div>

</body>
</html>