<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Love Anime</title>
</head>
<body>
<h1>Search Anime</h1>

<div th:if="${message!=null}">
    <span th:text="${message}"></span>
</div>

<form th:action="@{/anime/search}" th:object="${search}" method="post">

    <input type="text" field="*{search.animeName}"/>
    <input type="submit" value="submit" />

</form>

<!--<div>-->
    <!--<ol>-->
        <!--<li th:each="result : ${result}"></li>-->
        <!--<span th:text="${result.animeName}">name</span>-->
    <!--</ol>-->
<!--</div>-->


<br></br>
<table border="1px">
    <tr>
        <th>Anime Name</th>
        <th>Anime Genre</th>
        <th>Anime Description</th>
    </tr>
    <tr th:each="anime : ${anime}">
        <td th:text="${anime.animeName}">name</td>
        <td th:text="${anime.genre}">name</td>
        <td th:text="${anime.description}">name</td>
    </tr>
</table>
<br></br>

<!--<p th:text="'domain = ' + ${domain.animeName} + ', ' + ${domain.genre} + ', ' + ${domain.description} + '.'">domain 1</p>-->

<table border="1px">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.fname}">robin</td>
        <td th:text="${user.lname}">yang</td>
        <td th:text="${user.email}">robinyang@hotmail.com</td>
        <td th:text="${user.password}">test123</td>
        <td><a href="#" th:href="@{/user/update/}+${user.id}">Update</a></td>
        <td><a href="#" th:href="@{/user/delete/}+${user.id}">Delete</a></td>
    </tr>
</table>

<div>
    <ol>
        <li th:each="user :${users}">
            <span th:text="${user.fname}+' '+${user.lname}+', '+${user.email}+', '+${user.password}"></span>
            <td><a href="#" th:href="@{/user/update/}+${user.id}">Update</a></td>
            <td><a href="#" th:href="@{/user/delete/}+${user.id}">Delete</a></td>
        </li>
    </ol>
</div>

<form th:action="@{/user/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

</body>
</html>