<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout/header :: bootstrap"></th:block>
    <th:block th:include="layout/header :: nav"></th:block>
</head>
<body>

<h1 align="center">Anime List</h1>
<div class="form-group col-md-6 col-md-offset-3">
    <ol class="list-group">
        <li class="list-group-item" th:each="anime : ${anime}">
                <a href="#" th:href="@{/anime/update/}+${anime.id}" th:text="${anime.animeName}"></a>
            <span>
                <a href="#" th:href="@{/anime/delete/}+${anime.id}" onclick="return confirm('Are you sure?')" class="pull-right">Delete</a>
            </span>
        </li>
    </ol>
</div>

</body>
</html>
