<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New User Login</title>
</head>
<body>

<h1>User Login</h1>

<div th:if="${message!=null}">
    <span th:text="${message}"></span>
</div>

<form action="#" th:action="@{/user/login}" th:object="${User}" method="post">

    <p>Email: </p>
    <input type="text" th:field="*{email}"/>

    <p>Password: </p>
    <input type="password" th:field="*{password}"/>


    <p/><input type="submit" value="Login"/>
</form>

<br></br>

<a href="/user/register"><button>Register</button></a>

</body>
</html>